<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title> @*data transfer -data oturme*@
</head>
<body>
    <div>
        <p>Header</p>
        @RenderBody()
        <p>Footer</p>
    </div>
</body>
</html>
